.timer_body{
    display: block;
    position: absolute;
    margin-left: 30%;
    /* border: 2px solid black; */
    width: 30rem;
    padding: 0px;
    margin-top: -50px;
}

.title{
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: bold;
    background-color: blue;
    margin-top: -5px;
}

#labels{
    display: inline-flex;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bolder;
    margin-top: -750px;
    padding-top: 0px;
}

p{
    padding: 0px 20px;
}

.hour_label, #hours{
    background-color: chocolate;
}
.minutes_label, #minutes{
    background-color: darkcyan;
}
.seconds_label, #seconds{
    background-color: palevioletred;
}

#timers{
    /* border: 2px solid green; */
    display: inline-flex;
    font-size: 9em;
    font-weight: bolder;
    justify-content: space-around;
    margin-top: -34px;
    border-top: 2px dashed rgba(0, 0, 0, 0.4);
}

#timers div{
    padding: 0px 30px;
}
.hour_label{
    padding: 0px 30px
}
#hours{
    padding: 0px 50px;
}

#restart{
    margin: auto;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 1em;
    box-shadow: 0 0 2px 1px black;
    max-width: fit-content;
}

button{
    font-size: 1.3em;
    background-color: rgba(200,50,75, 0.5);
}